@charset "utf-8";
/* CSS Document */

body
{
	background-color: antiquewhite;
}

.mainFont
{
	color: cornflowerblue;
	text-align: center
}

#dogImg
{
	display: block;
	margin-left: auto;
	margin-right: auto
}